body {
    background: cadetblue url("images/result.png");
    background-size: 100%;
}

li {
    color: palevioletred;
    margin-bottom: 10px;
}
li a {
    color: palevioletred;
}

.vote {
    margin: 10px auto;
    padding: 20px;
    background-color: floralwhite;
    width: 400px;
    height: 500px;
    border: 5px double palevioletred;
    border-radius: 10px;
}

.title {
    margin-left: 10px;
    color: palevioletred;
    line-height: 0.5;
}

a {
    color: cornflowerblue;
    margin: 10px;
}

.choose {
    color: cadetblue;
    margin: 10px;
}